logs
pythonuserbase
__pycache__
*.pt
bitextdata
*test*.jsonl
*test*.pkl
test-data
tests
*.sqlite
indexed-data
trained-indexers
training-data
filled-indexers
embedded-data
jobs
plots
*.hf
*.csv
*.png
hidden-states/data/*.jsonl
jobs_e5
hidden-states/dev_data
testing
.venv
averaging-results
heads